<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>IY1xv_X1Suaz_kkp5eG5bQ</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>zM-IrNEhQ_KZt9vdUw1O3Q</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>8jc2sXnrSCS_-MYtY6Ne_w</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>KStsgD09RLikEhlqw8iZSw</string>
	<key>APP_STORE_OR_AD_HOC_BUILD</key>
	<false/>
</dict>
</plist>
