<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChannelList</key>
	<array>
		<dict>
			<key>cid</key>
			<string>844</string>
			<key>title</key>
			<string>屌丝女神</string>
			<key>subtitle</key>
			<string>告诉你的不仅有事业线</string>
			<key>icon</key>
			<string>channel_netnvshen.png</string>
		</dict>
		<dict>
			<key>cid</key>
			<string>843</string>
			<key>title</key>
			<string>真人秀</string>
			<key>subtitle</key>
			<string>天上仙女下凡尘</string>
			<key>icon</key>
			<string>channel_zhenren.png</string>
		</dict>
		<dict>
			<key>cid</key>
			<string>1594</string>
			<key>title</key>
			<string>校花</string>
			<key>subtitle</key>
			<string>那些年我们一起追的女孩</string>
			<key>icon</key>
			<string>channel_xiaohua.png</string>
		</dict>
		<dict>
			<key>cid</key>
			<string>1169</string>
			<key>title</key>
			<string>帅哥</string>
			<key>subtitle</key>
			<string>有型帅气的男人公敌</string>
			<key>icon</key>
			<string>channel_shuaige.png</string>
		</dict>
		<dict>
			<key>cid</key>
			<string>1565</string>
			<key>title</key>
			<string>诚意征友</string>
			<key>subtitle</key>
			<string>快来跟我一起告别单身</string>
			<key>icon</key>
			<string>channel_zhengyou.png</string>
		</dict>
	</array>
	<key>NewTabCid</key>
	<string>43</string>
	<key>UmengAppKey</key>
	<string>505273775270152d6c00005e</string>
	<key>ParseConfig</key>
	<dict>
		<key>applicationId</key>
		<string>2OVQJFuAfIpd5C5Eod9roChNxwALoeiwDeQ7CVdP</string>
		<key>clientKey</key>
		<string>OLZbx6B50I6jgPmyrBKswFtyYaB0OGkuKgcmTnV8</string>
	</dict>
	<key>AlertKeyword</key>
	<string>女神和萌妹纸</string>
	<key>AppStoreId</key>
	<string>562562760</string>
	<key>AppChannelTag</key>
	<string>App Store</string>
	<key>MoGoAppKey</key>
	<string>79d44c947644416cb5f46cbcbbab1f33</string>
	<key>TitleTextColor</key>
	<dict>
		<key>red</key>
		<integer>76</integer>
		<key>green</key>
		<integer>67</integer>
		<key>blue</key>
		<integer>67</integer>
	</dict>
	<key>TitleShadowColor</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>255</integer>
		<key>blue</key>
		<integer>255</integer>
	</dict>
</dict>
</plist>
