<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChannelList</key>
	<array>
		<dict>
			<key>cid</key>
			<string>845</string>
			<key>title</key>
			<string>影视明星</string>
			<key>subtitle</key>
			<string>白百合、MaggieQ等</string>
			<key>icon</key>
			<string>yingshi.png</string>
		</dict>
		<dict>
			<key>cid</key>
			<string>881</string>
			<key>title</key>
			<string>主持人</string>
			<key>subtitle</key>
			<string>何炅、乐嘉、黄子佼等</string>
			<key>icon</key>
			<string>zhuchi.png</string>
		</dict>
		<dict>
			<key>cid</key>
			<string>846</string>
			<key>title</key>
			<string>音乐明星</string>
			<key>subtitle</key>
			<string>林忆莲、许茹芸、阿朵等</string>
			<key>icon</key>
			<string>yinyue.png</string>
		</dict>
		<dict>
			<key>cid</key>
			<string>847</string>
			<key>title</key>
			<string>娱乐名人</string>
			<key>subtitle</key>
			<string>炮轰、炒作啥的是他们的砖长</string>
			<key>icon</key>
			<string>mingren.png</string>
		</dict>
	</array>
	<key>NewTabCid</key>
	<string>13</string>
	<key>UmengAppKey</key>
	<string>500a5e60527015136500001f</string>
	<key>ParseConfig</key>
	<dict>
		<key>applicationId</key>
		<string>lkLzJu6xPKG1DJUlWu5aPtpxcMPqt28WpLk3oEZp</string>
		<key>clientKey</key>
		<string>PfxQcMr7DDrhDgOk8XN67Ou86ZzFrk0zEKvKMLmT</string>
	</dict>
	<key>AlertKeyword</key>
	<string>明星微博</string>
	<key>AppStoreId</key>
	<string>545287581</string>
	<key>AppChannelTag</key>
	<string>App Store</string>
	<key>MoGoAppKey</key>
	<string>65417eb16c944a51a12ae85141aadda4</string>
</dict>
</plist>
